Package: dji-moonlight-shim
Version: 1.1.0
Maintainer: Knifa
Description: Stream games to your goggles via Moonlight!
Architecture: pigeon-glasses
Depends: fan-control, wtfos-modloader, wtfos-package-config, dinit
Homepage: https://github.com/Knifa/dji-moonlight-shim
