[Desktop Entry]
Exec=/opt/sbin/dinitctl start dji-moonlight-shim
Name=Moonlight
Icon=/opt/share/applications/dji-moonlight-shim.png
Icon_Active=/opt/share/applications/dji-moonlight-shim-active.png
